.confirmation-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.confirmation-section div{
    padding: 60px;
}

.confirmation-section button{
    width: 65%;
    padding: 12px;
    border: none;
    background-color: #FF7A18;
    border-radius: 0.5em;
    color: #fff;
}

.generate{
    font-size: 12px;
    color: #9DA3A1;
}

.confirmation-section a{
    font-size: 12px;
    text-decoration: none;
    color: #1E88E5;
}

/* Mobile */
@media (max-width: 480px){
    .confirmation-section img{
        width: 50px;
    }
}