.loader {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proceed-to-summary a {
  white-space: nowrap;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  margin-left: auto;
  margin-top: 20px;
  display: block;
  text-decoration: none;
  background-color: #ff7a18;
  width: 180px;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-radius: 0.5em;
}

@media (max-width: 480px) {
  .loader img {
    width: 50px;
  }
}
