.summary-section {
  background-color: #fff;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.summary-section h2 {
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.flex-input-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.flex-input-section input {
  width: 75%;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 0.5em;
  outline: none;
}

.flex-input-section button {
  color: #fff;
  border-radius: 0.5em;
  width: 25%;
  padding: 12px;
  border: none;
  background-color: #ff7a18;
}

.summary-amount {
  margin-top: 30px;
  color: #4b5563;
}

.summary-amount-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.summary-flex-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-flex-total h3 {
  font-size: 16px;
}

.summary-method {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.summary-method p {
  font-size: 14px;
}

.summary-method .delivery {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  text-align: center;
  color: #fff;
  background-color: #ff7a18;
  padding: 14px;
  width: 50%;
}

.summary-method .pick-up {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 14px;
  text-align: center;
  color: #fff;
  background-color: #bdbdbd;
  width: 50%;
}

.summary-textarea {
  border: 1px solid #ccc;
  width: 100%;
  min-height: 100px;
  border-radius: 0.5em;
  padding: 10px;
  font-size: 14px;
}

.summary-section a {
  margin-top: 20px;
  display: block;
  text-decoration: none;
  background-color: #ff7a18;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-radius: 0.5em;
}

@media (max-width: 480px) {
  .summary-section {
    width: 90%;
    margin: 70px auto;
    padding: 15px;
  }
}
