* {
  box-sizing: border-box;
}

.payment-section {
  background-color: #fff;
  max-width: 500px;
  margin: 80px auto;
  padding: 20px;
  height: auto;
  border-radius: 0.5em;
}

.payment-section h2 {
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.payment-section h3{
  font-size: 16px;
}

.payment-method {
  display: flex;
  gap: 30px;
}

.payment-method label{
  font-size: 14px;
}

.payment-method div {
  display: flex;
  gap: 15px;
}

.card-input {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.card-input label, .other-inputs label{
  font-size: 14px;
}

.card-input input {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 0.5em;
  margin-top: 12px;
}

.other-inputs {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-top: 40px;
}

.other-inputs input {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 0.5em;
  margin-top: 12px;
}

.other-inputs div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.save-flex {
  padding-top: 10px;
  display: flex;
  gap: 15px;
  font-size: 14px;
}

.payment-section a {
  margin-top: 20px;
  display: block;
  text-decoration: none;
  background-color: #ff7a18;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-radius: 0.5em;
  font-size: 14px;
}

.privacy-policy {
  font-size: 12px;
  color: #ccc;
  font-weight: 300;
}

@media (max-width: 480px) {
  .payment-section {
    width: 90%;
    margin: 70px auto;
    padding: 15px;
  }

  .payment-section h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .payment-method {
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  .payment-method div {
    gap: 10px;
  }

  .card-input input {
    width: 100%;
    padding: 10px;
  }

  .other-inputs {
    gap: 15px;
    padding-top: 20px;
  }

  .other-inputs div {
    width: 100%;
  }

  .other-inputs input {
    width: 100%;
  }

  .save-flex {
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    align-items: center;
  }

  .payment-section button {
    padding: 12px;
    font-size: 16px;
  }

  .privacy-policy {
    font-size: 12px;
  }
}
