.specials {
  margin-top: 200px;
}

.specials h2 {
  text-align: center;
  color: #1F2937;
}

.special-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  row-gap: 50px;
}

.special-item {
  width: 350px;
  background-color: #fff;
  height: 450px;
  border-radius: 0.5em;
}

.special-item div {
  padding: 13px;
}

.special-item div h3{
  color: #1F2937;
  size: 24px;
}

.special-item div p{
  font-size: 14px;
}

.special-item img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.special-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.special-flex p {
  color: #ff7a18;
}

.special-flex a {
  text-decoration: none;
  background-color: #ff7a18;
  color: #fff;
  width: 100px;
  text-align: center;
  padding: 13px;
  border-radius: 0.5em;
  font-size: 14px;
}

.view-all-specials{
    display: none;
}

@media (max-width: 480px) {
  .specials {
    width: 100%;
    padding: 15px;
  }
  .special-container {
    grid-template-columns: 1fr;
  }

  .special-item {
    width: 100%;
    height: auto;
  }

  .special-item:nth-child(4),
  .special-item:nth-child(5),
  .special-item:nth-last-child(6) {
    display: none;
  }

  .view-all-specials{
    display: block;
    text-decoration: none;
    color: #1E88E5;
  }
}
