.hero-2{
    margin-top: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url("/images/HomePage/Hero2.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-2-content{
    margin-left: 50px;
}

.hero-2 h2{
    font-size: 35px;
}

.hero-2 a{
  text-decoration: none;
  color: #fff;
  text-align: center;
  background-color: #ff7a18;
  padding: 12px;
  font-size: 14px;
  width: 170px;
  border-radius: 0.5em;
}