.explore-hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url('/images/ExplorePage/ExploreHero.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 50px;
}

.explore-hero-content{
    margin-left: 50px;
}

.explore-hero h2{
    font-size: 40px;
}

@media (max-width: 480px){
    .explore-hero{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url('/images/HomePage/Hero.png');
        background-position: 50%;
        margin-bottom: 0;
    }

    .explore-hero-content{
        margin-top: 30px;
        margin-left: 20px;
    }

    .explore-hero h2{
        font-size: 30px;
    }
}